In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
folder = "../../_data/p-dengue/ONI"
os.listdir(folder)

['.DS_Store', 'ONI_raw.rtf', 'ONI.csv', 'ONI_clean.txt']

In [3]:
# Read the space-separated text file
df = pd.read_csv(os.path.join(folder, "ONI_clean.txt"), 
                 sep=r"\s+",    # split on any whitespace
                 header=None,              # no header row
                 comment='\\')             # ignore the trailing '\'

# Drop any empty columns (just in case)
df = df.dropna(axis=1, how='all')

# Save as CSV
# df.to_csv(os.path.join(folder, "ONI.csv"), index=False, header=False)

df.rename(columns={0: "year"}, inplace=True)
df = pd.melt(df, id_vars='year', value_vars=list(range(1, 13)))
df.rename(columns={"variable": "month", "value": "ONI"}, inplace=True)
df.sort_values(by=["year", "month"], inplace=True)

# Save as CSV
df.to_csv(os.path.join(folder, "ONI.csv"), index=False, header=True)

In [4]:
df

     year month    ONI
0    1950     1  -1.53
76   1950     2  -1.34
152  1950     3  -1.16
228  1950     4  -1.18
304  1950     5  -1.07
..    ...   ...    ...
607  2025     8  -0.32
683  2025     9  -0.45
759  2025    10 -99.90
835  2025    11 -99.90
911  2025    12 -99.90

[912 rows x 3 columns]